*{
    margin: 0;
    padding: 0;
}
body{
    background-image:url("./assessts/backGround.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: aliceblue;
}
nav{
    width: auto;
    /* height: 5vh; */
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 8fr 2fr;
    grid-template-areas: "Brand listings";
    padding: 1rem;
    background-color: #000000;
    color: aliceblue;
    box-shadow: 10px 0px 15px black;
    /* From https://css.glass */ 
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}
#Brand{
    grid-area : Brand;
    place-self: start;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
#listings{
    grid-area : listings;
    list-style: none;
    /* place-self: end; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#listings li{
    margin-left: 1rem;
    margin-right: 1rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
main{
    padding: 1rem;
    display: grid;
    grid-template-columns: 2fr 8fr;
    grid-template-rows: 70vh 10vh;
    grid-template-areas: "list cover"
                          "list player";
    /* background-color: #0B60B0; */
    flex: 1;
}
#songs{
    height: 100%;
    grid-area: list;
}
#cover{
    height: 100%;
    width: 100%;
    grid-area: cover;
    place-self: center;
    display: flex;
    justify-content: center;
    padding: 1rem;
}
#songs:hover{
    overflow: scroll;
}
#songList{
    height: 100%;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    align-items: center;
}
.song-item{
    margin: 1rem auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.song-item:hover{
    transform: scale(1.2 , 1.2);
    cursor: pointer;
}
#player{
    width: 50%;
    justify-self: center;
    grid-area: player;
    display: grid;
    grid-template-rows: 5fr 5fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "progress progress progress"
                         "previous start next";
}
.cover-img{
    width: 30rem;
    object-fit: cover;
    border-radius: 1rem;
}
footer{
    width: auto;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

@media screen and (max-width: 780px){
    nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #listings{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #listings li{
        margin: 1rem;
    }
}

